<h1>Create a New Portfolio Item</h1>

<%= form_for(@portfolio_items) do |f| %>

  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :subtitle, style: "display: block" %>
    <%= f.text_area :subtitle %>
  </div>

  <div>
    <%= f.label :body, style: "display: block" %>
    <%= f.text_area :body %>
  </div>

  <ul>
    <%= f.fields_for :technologies do |technology_form| %>
      <li>
        <%= technology_form.label :name %>
        <%= technology_form.text_field :name %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= f.submit %>
  </div>
<% end %>